<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.setting.thailandmetromap.project_mobile_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Search">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailListCar"
            android:label="@string/title_activity_detail_list_car"
            android:parentActivityName=".Search"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.setting.thailandmetromap.project_mobile_app.Search" />
        </activity>
        <activity
            android:name=".DetailCar"
            android:label="@string/title_activity_detail_car"
            android:parentActivityName=".DetailListCar"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.setting.thailandmetromap.project_mobile_app.DetailListCar" />
        </activity>
        <activity
            android:name=".OrderCar"
            android:label="@string/title_activity_order_car"
            android:parentActivityName=".DetailCar"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.setting.thailandmetromap.project_mobile_app.DetailCar" />
        </activity>
        <activity
            android:name=".OrderDetail"
            android:label="@string/title_activity_order_detail"
            android:parentActivityName=".Search"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.setting.thailandmetromap.project_mobile_app.Search" />
        </activity>
        <activity
            android:name=".DetailOder"
            android:label="@string/title_activity_detail_oder"
            android:parentActivityName=".Search"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.setting.thailandmetromap.project_mobile_app.Search" />
        </activity>
    </application>

</manifest>